nav {
  background-color: lightslategrey;
  margin: 0;
  padding: 0;
}

.navbar-brand {
  color: white;
}
.navbar-brand:hover {
  color: #ffd700;
}

.nav-link {
  color: white;
}

.nav-link:hover {
  color: #ffd700;
}
